# Node
node_modules/
node_modules.rar
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Next.js build output
.next/
out/
build/

# Production
dist/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Logs
logs/
*.log

# TypeScript
*.tsbuildinfo

# Coverage
coverage/

# SQLite / local DB
*.sqlite
*.sqlite3
*.db

# Misc
.idea/
.cache/
.parcel-cache/
.vercel/
.vercelignore
column_mapping.txt
database_schema.txt
